.vs
.vs/
.vs/*
packages
packages/
packages/*
icon.ico
RPGMakerActorGenerator\bin
RPGMakerActorGenerator\bin\
RPGMakerActorGenerator\bin\*
RPGMakerActorGenerator\obj
RPGMakerActorGenerator\obj\
RPGMakerActorGenerator\obj\*